<section>
  <div class="container">
    <div class="options">
      <h2>Select how do you want to create alphabet?</h2>
      <div class="radio__btn_block">
        <mat-radio-group [(ngModel)]="option">
          <mat-radio-button class="option__btn" value="file">From file</mat-radio-button>
          <mat-radio-button class="option__btn" value="form" (click)="initForm()">From form</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="alphabet__from_file" *ngIf="option === 'file'">
      <input class="hide__file_input" #file type="file" accept="txt/*" (change)="selectFile(file.files)">
      <button [class.file__selected]="isFileSelected" [class.upload__btn]="!isFileSelected" #upload (click)="file.click()">
        <mat-icon>attachment</mat-icon>
        {{this.fileName}}
      </button>
      <span>{{this.file?.name}}</span>
    </div>
    <div class="">

    </div>
    <button (click)="createFromFile()">Create</button>
  </div>
</section>