<section>
  <div class="container">
    <div class="options">
      <h2>Select how do you want to create alphabet?</h2>
      <div class="radio__btn_block">
        <mat-radio-group [(ngModel)]="option">
          <mat-radio-button class="option__btn" value="file">From file</mat-radio-button>
          <mat-radio-button class="option__btn" value="form" (click)="initForm()">From form</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="alphabet__from_file" *ngIf="option === 'file'">
      <input class="hide__file_input" #file type="file" accept="txt/*" (change)="selectFile(file.files)">
      <button [class.file__selected]="isFileSelected" [class.upload__btn]="!isFileSelected" #upload (click)="file.click()">
        <mat-icon>attachment</mat-icon>
        {{this.fileName}}
      </button>
      <span>{{this.file?.name}}</span>
    </div>
    <div class="alphabet__from_form" *ngIf="option === 'form'">
      <pre>{{alphabetGroup.value | json}}</pre>
      <div [formGroup]="alphabetGroup">
        <div>
          <h3>Choose language</h3>
          <mat-form-field appearance="standard">
            <mat-label>Languages</mat-label>
            <mat-select formControlName="languageCode">
              <mat-option *ngFor="let language of languages" [value]="language.code">
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <input type="number" maxlength="50" #lettersLocal (input)="initLetters(lettersLocal.value)">
        </div>
        <div formArrayName="letters">
          <div *ngFor="let letter of letters.controls; let i = index">
            <input type="text" [formControlName]="i">
          </div>
        </div>
      </div>
    </div>
    <!-- <button mat-stroked-button color="primary">Primary</button> -->
    <button (click)="createFromFile()">Create</button>
  </div>
</section>